[Unit]
Description=433MHz Receiver on RPI GPIO sending to MQTT Broker
After=mosquitto.service

[Service]
Type=simple
user=root
ExecStart=/home/pi/SourceCode/433Utils/RPi_utils/RFmqtt

[Install]
WantedBy=multi-user.target
